.opinionSpectrum {
	display: flex;
	margin-bottom: 50px;
	background-color: #eee;
	padding: 30px;
}

.option {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	flex: 1;
}

.optionText {
	font-size: 20px;
	margin-bottom: 0px;
}

.bubble {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	border-color: #aaa;
	border-style: solid;
	border-width: 2px;
	background-color: white;
}

.selected {
	background-color: #aaa;
}