.topic {
    padding: 20px;
}

.topicBody {
    font-size: 25px;
    margin-bottom: 5px;
}

.topicResponse {
    padding: 20px;
}

.topicResponseTitle {
    margin-bottom: 5px;
    font-size: 20px;
}

.userOption {
    font-size: 15px;
    margin-bottom: 5px;
}

.diffResponse {
    width: 75%;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
}