.createPoll {
    padding: 40px;
    display: flex;
    background-color: white;
    flex-direction: column;
    border-color: #ddd;
    border-width: 4px;
    border-style: solid;
}

.infoBlurb {
    flex: 1;
}

.topicList {
    flex: 2;
    margin-bottom: 20px;
}

.newTopicForm {
    flex: 1;
    width: 100%;
}

.topic {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #eee;
    margin-bottom: 5px;
    border-radius: 5px;
}

